<!DOCTYPE html>
<!-- HTML5 Hello world by kirupa - http://www.kirupa.com/html5/getting_your_feet_wet_html5_pg1.htm -->
<html lang="en-us">

<head>
	<meta charset="utf-8">
	<title>Hello...</title>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue.js"></script>
	<style type="text/css">
		#mainContent {
			font-family: Arial, Helvetica, sans-serif;
			font-size: xx-large;
			font-weight: bold;
			background-color: #E3F0FB;
			border-radius: 4px;
			padding: 10px;
			text-align: center;
		}

		.buttonStyle {
			border-radius: 4px;
			border: thin solid #F0E020;
			padding: 5px;
			background-color: #F8F094;
			font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
			font-weight: bold;
			color: #663300;
			width: 75px;
		}

		.buttonStyle:hover {
			border: thin solid #FFCC00;
			background-color: #FCF9D6;
			color: #996633;
			cursor: pointer;
		}

		.buttonStyle:active {
			border: thin solid #99CC00;
			background-color: #F5FFD2;
			color: #669900;
			cursor: pointer;
		}
	</style>
</head>

<body>
	<div id="guestbook-app">
		<div class="form">
			<input type="text" name="text" v-model="newEntry.name" />
			<input type="text" name="user" v-model="newEntry.text" />
			<input type="submit" name="submit" v-on:click="addNewEntry()" />
		</div>
		<ul class="entries-list">
			<li v-for="entry in entries">
				<p>{{entry.text}}</p>
				<small>{{entry.user}}</small>
			</li>
		</ul>
	</div>
	<script>
		new Vue({
			el: '#guestbook-app',
			data: {
				newEntry: {
					name: '',
					text: '',
				},
				message: 'Hello, Vue.js!',
				entries: [{
					text: 'Jedt',
					user: 'Worajedt',
				},
				{
					text: 'Goh',
					user: 'Natcha',
				},
				{
					text: 'Q',
					user: 'Benyabha'
				}],
			},
			methods: {
				addNewEntry() {
					this.entries.push({
						text: this.newEntry.text,
						user: this.newEntry.name
					});
				}
			}
		});
	</script>

</body>

</html>
